In [1]:
import org.apache.spark.sql.SparkSession

// Iniciar la sesi√≥n de Spark
val spark = SparkSession.builder
    .appName("EjemploScalaSpark")
    .master("local[*]")
    .getOrCreate()

// Crear datos de ejemplo
val data = Seq(("Alice", 30), ("Bob", 25), ("Cathy", 27))
val df = spark.createDataFrame(data).toDF("Name", "Age")

// Mostrar el contenido del DataFrame
df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 30|
|  Bob| 25|
|Cathy| 27|
+-----+---+

spark = org.apache.spark.sql.SparkSession@7de007e9
data = List((Alice,30), (Bob,25), (Cathy,27))
df = [Name: string, Age: int]

[Name: string, Age: int]